<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <!-- <img src="/app/assets/images/logo.png" height="auto" alt=""> -->
    <%= image_tag("logo.png", :width => "30") %> Nit.Recipes
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
        <%= link_to 'Home', root_path, class: 'nav-link'%>
      </li>
      <li class="nav-item">
        <%= link_to 'Posts', articles_path, class: 'nav-link'%>
      </li>
      <!-- <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li> -->
    </ul>

    <div class="float-right">
      <% if user_signed_in? %>
      <a>
        <span class="text-light"> <i class="fas fa-user-astronaut fa-sm"></i> <%= current_user.name %></span>
        <%=  link_to ("<i class='fas fa-power-off'></i>").html_safe, destroy_user_session_path, class: 'btn btn-outline-danger btn-sm', method: :delete %>
      </a>
      <%else %>
      <a>
        <%=  link_to 'Login', user_session_path, class: 'btn btn-outline-success btn-sm'%>
      </a>
      <% end %>
    </div>



  </div>
</nav>