<!DOCTYPE html>
<html>

<head>
  <title>Blog</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- <link href="lib/noty.css" rel="stylesheet">
<script src="lib/noty.js" type="text/javascript"></script> -->
</head>

<body>
  <%= render 'partials/navbar'  %>
  <% if notice %>
    <div id="notice_wrapper">
      <p class="notice"><%= notice %></p>
    </div>
  <% elsif alert %>
    <div id="notice_wrapper">
      <p class="alert"><%= alert %></p>
    </div>
  <% end %>

  <div class="container my-5">
    <%= yield %>
  </div>
</body>

</html>